.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    color: #fff;
}
.dialogsItems{
    padding: 10px;    
}
.active{
    color: gold;
}
.messages{
    padding: 10px;
    color: #fff;
}
