.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems{
    padding: 10px;    
}
.active{
    color: gold;
}
.messages{
    padding: 10px;
}



/* let dData = [
    {id : 1, name: 'Salohiddin'},
    {id : 2, name: 'Abduqodir'},
    {id : 3, name: 'Ibrohim'},
    {id : 4, name: 'Shohjahon'},
    {id : 5, name: 'Xurshid'},
    {id : 6, name: 'Abror'}
] */